table {
    width: 50%;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

form input{
    display: block;
    font-size:14px;
    border: solid 1px #aacfe4;
}

.submit-button{
    height: 35px;
    border-radius: 10px;
    color: white;
    border: 0px;
    background-color: #3d6fdb;
    cursor: pointer;
    text-align: center;
}

th {
    height: 35px;
    text-align: center !important;
    vertical-align: middle;
    background-color: #3d6fdb;
    color: white;
  }

th, td {
    border-bottom: 1px solid #ddd;
} 