<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>

    <table>
        <tr>
            <th>Group Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% groups.forEach(function(group) { %>
            <tr>
                <td><%= group.name %></td>
                <td>
                    <form method="post" action="/groups/<% group._id %>?_method=PUT">
                        <input type="text" id="name" name="name" value="<%= group.name %>" required>
                        <br>
                        <input class="submit-button" type="submit" value="Update Group Name">
                    </form>
                </td>
                <td>
                    <form method="post" action="/groups/<%= group.id %>?_method=DELETE">
                        <input lass="submit-button"  type="submit" value="Delete Group">
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>

    <h1>Create New Group</h1>
    <form method="post" action="/groups">
        <label for="id">Group Id:</label>
        <input type="number" id="id" name="id" required>
        <label for="name">Group Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <input class="submit-button" type="submit" value="Create Group">
    </form>
</body>
</html>